*{
	margin: 0;
	padding: 0;
}

body {
	background-color: SteelBlue;
	margin-left: 5em;
	margin-right: 5em;

}

h1 {
	color:MidnightBlue;
	font-family: Lalezar, cursive;
	letter-spacing: 0.5em;
}

#title {
	padding-top: 2em;
	text-align: center;
	background-color: SteelBlue;

}

#self_image{
	width: 10em;
	border-radius: 100%;
}

#main_info{
	font-family: "Rasa", cursive;
	font-size: 18px;
	background-color: white;
	padding-top: 2em;

}

p {
	font-weight: bold;
	text-align: center;
}

#skills{
	float: left;
	background-color: white;

}

ul {
	list-style-type: none;
	text-align: center;
}

ul li {
	margin: auto;
	border: solid;
	text-align: center;
	padding: 10px;
	width: 500px;
	border-radius: 5px;
	margin-top:0.5em;
	display: inline-block;
}


ul li:hover{
	transition:0.3s;
	background-color: Blue;
	border-color:Black;
	color: white;
	font-weight: bold;
}

ol {
	list-style-type: none;
}

.BriefHistory {
	position: fixed;
	float: right;
	width: 23%;
	border-style: solid;
	border-color: black;
	text-align: center;
	height: 400px;
	border-radius: 5px;
	background-color: white;
	right: -300px;
	box-shadow:10px 10px 5px #888888;

}

.BriefHistory:hover{
	transition: 1s;
	right: -10px;
}
#test{
	font-family: Lalezar, cursive;
	letter-spacing: 0.2em;
	position: relative;
	transform: rotate(90deg);
	float: left;
	left: -100px;
	top: 150px;

}

#test2{
	margin-left: 15%;
	float: right;
}

